$font-family: "Inter", Arial, sans-serif;
$font-header: 'Bebas Neue', sans-serif;

$max-content-width: 1024px;

$poster-min-width: 46em;
$poster-min-height: 46em;

$header-height: 150px;
$footer-height: 170px;