$font-family: "Inter", Arial, sans-serif;
$font-header: 'Bebas Neue', sans-serif;

$mqMaxWidth: 768px;
$max-content-width: 1024px;

$poster-min-width: 42em;
$poster-min-height: 50em;

$header-height: 150px;
$footer-height: 170px;