.header {
    background-color: $primary-color;
    min-height: $header-height;

    &__navbar {
        max-width: 1024px;
    }

    &__navlink {
        font-family: 'Bebas Neue', sans-serif;
        text-transform: uppercase;
        font-size: 1.7rem;
        text-align: center;
    }

    &__logo {
        height: 120px;
        border-radius: 50%;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    }

    @media (max-width: 574px) {
        min-height: calc($header-height / 2);

        &__logo {
            height: 47px;
        }
    }

}

body:has(.home) .header {
    background-color: $bg-color;
    border-bottom: $accent-color 2px solid;
    min-height: calc($header-height / 2);

    &__navbar {
        margin: 0 auto;
    }

    &__navlink {
        color: $accent-color;
    }

    &__logo {
        height: 47px;
    }
}