.header {
    background-color: $primary-color;
    min-height: 150px;

    &__navbar {
        max-width: 1024px;
        margin: 0 auto;
    }

    &__navlinks {
        font-family: 'Bebas Neue', sans-serif;
        text-transform: uppercase;
    }

    &__logo {
        height: 120px;
        border-radius: 50%;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    }
}